body {
	font-family: Sans-Serif;
	background-color:#fafafa;
	color:#333;
	font-size:1.3em;
	line-height:1.9em;
	text-align:center;
	cursor: default;
	margin:0;
	padding:0;
}

#wrapper {
	width:30em;
	margin:0 auto;
}

header {
	background:#aaa;font-size:0.8em;color:#fff;
	margin:0;padding:0;
}

ul {text-align:left;margin:0;padding:0;}
li {list-style-type:none;margin:0 0 0.5em 0;padding:0;}
label {width:100%;display:block;cursor:pointer;padding:1.8em;color:#fff;text-transform:uppercase;font-weight:bold;}

li.windows {background:#0078d7;border:0.4em solid #002050;}
li.windows label {color: #002050;}
li.windows:hover {background:rgb(6,57,132);}
li.windows:hover label {color:#fff;}

li.mac {background:#f3f4f7;border:0.4em solid #52565e;}
li.mac label {color:#222;}
li.mac:hover {background:#52565e;}
li.mac:hover label {color:#fff;}

li.linux {background:#77216f;border:0.4em solid #dd4814;}
li.linux label {color:#dd4814;}
li.linux:hover {background:#52565e;}
li.linux:hover label {color:#fff;}

li:hover {background:#fff;}
/*li:hover label {color:#fafafa;}*/

input[type="radio"]{visibility:hidden;position: absolute;}
input[type=radio]:checked ~ label{
  color: #222;
}

footer {
	text-align:center;
	color:#666;
	font-size:0.8em;
}
